<%= content_tag(:tr, data: {schedule_id: task_schedule.id}) do %>
  <td>
    <%= task_schedule.name %>
  </td>
  <td>
    <%= task_schedule.due_date %>
  </td>
  <td>
    <%= form_with(model: TaskSchedule, url: create_task_task_schedule_path(task_schedule), method: :post) do %>
      <%= hidden_field_tag(:completed, true) %>
      <button>
        <%= submit_tag "Complete Task", disabled: task_schedule.task_completed? %>
      </button>
    <% end %>
  </td>
<% end %>
